/* style.css */
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background: rgb(113,113,113);
    background: linear-gradient(180deg, rgba(113,113,113,1) 30%, rgba(0,0,0,1) 100%);
}

#matrix-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}

#osoa{
    display: flex;
    flex-direction: column;
    width: 100%;
  
}
#proba_kaxa{
    display: flex;
    justify-content: center;
    width: 100%;
}

#proba{
    background-color: black;
    color: white;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000;
    width: 100%;
    color: white;
}

#besteak{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#pieza_multzoa{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.pieza{
    margin: 5%;
    text-align: center;
}