@font-face {
    font-family: darkSouls;
    src: url(../fonts/OptimusPrinceps.ttf);
}

@font-face {
    font-family: darkSoulsBold;
    src: url(../fonts/OptimusPrincepsSemiBold.ttf);
}


html, body {
    overflow: hidden; 
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: rgb(113,113,113);
    background: linear-gradient(180deg, rgba(113,113,113,1) 30%, rgba(0,0,0,1) 100%);
}

.fondo_G{
    background-image: url('../img/giga-chad.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.fondo_Normal{
    background: rgb(113,113,113);
    background: linear-gradient(180deg, rgba(113,113,113,1) 30%, rgba(0,0,0,1) 100%);
}

#matrix-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}

#osoa{
    display: flex;
    flex-direction: column;
    width: 100%;
  
}
#proba_kaxa{
    display: flex;
    justify-content: center;
    width: 100%;
}

#proba{
    background-color: black;
    color: white;
    margin-top: 1%;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    color: white;
}

#pieza_multzoa1{
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    align-items:center;
}

.pieza{
    margin-left: 15%;
    margin-top: 3%;
    text-align: center;
}
.pieza img{
    width: 50px;
}

#besteak{
    display:flex ;
    flex-direction: row;
    width: 50%;
}

#botoilak1{
    text-align: right;
    width: 50%;
}

#botoilak2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: left;
    width: 50%;
}


.botoi_debora{
    background-color: #d8d8d8;
    color: rgb(0, 0, 0);
    padding: 16px;
    margin: 10%;
    font-size: 16px;
    border: none;
}

.dropbtn {
    background-color: #d8d8d8;
    color: rgb(0, 0, 0);
    padding: 16px;
    margin: 10%;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}

button:hover{background-color: #3e8e41;}






.hidden {
    display: none;
}

#death-screen {
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    opacity: 1;
    padding-top: 1px;
}


.death-background * {
    /*padding-top: 100%;*/
    color: #ff0000;
    font-family: darkSouls, sans-serif;
    letter-spacing: 5px;
    font-size: 8em;
    font-weight: 400;
    animation: fade-in 5s linear, text-zoom 3s linear;
}


@keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes text-zoom {
    0% { font-size: 5em; }
    25% { font-size: 6em; }
    50% { font-size: 7em; }
    75% { font-size: 8em; }
    100% { font-size: 8em; }
}




.flying-gif {
    position: fixed;
    left: -200px;
    z-index: -1;
    width: 100px;
    transform: translateY(-50%);
    animation-name: fly-across;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fly-across {
    0% {
        left: -200px;
    }
    100% {
        left: 110vw;
    }
}